frontend/AOVI_EXE/AOVI_EXE/obj/
frontend/AOVI_EXE/AOVI_EXE/bin/
frontend/AOVI_EXE/.vs/AOVI_EXE/FileContentIndex/1d6e0eab-fbc9-4cf1-8ba3-97a69d0d3356.vsidx
frontend/AOVI_EXE/.vs/
frontend/AOVI_EXE/AOVI_EXE/AOVI_EXE.csproj
frontend/AOVI_EXE/AOVI_EXE/Properties/
frontend/AOVI_EXE/packages/
